*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?w=1600")
    center/cover no-repeat;

    position:relative;
}

/* Lớp tối */

.overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        rgba(0,0,0,.75),
        rgba(0,0,0,.85)
    );
}

/* Card đăng nhập */

.container{
    position:relative;
    z-index:10;

    width:420px;

    background:
    rgba(20,20,20,.95);

    border:1px solid
    rgba(255,255,255,.08);

    border-radius:20px;

    padding:40px;

    box-shadow:
    0 20px 40px rgba(0,0,0,.6);
}

/* Logo */

.logo{
    text-align:center;

    color:#e50914;

    font-size:32px;
    font-weight:700;

    margin-bottom:15px;
}

h2{
    text-align:center;
    color:#fff;

    margin-bottom:30px;
}

/* Nút quay lại */

.back-btn{
    display:inline-block;

    color:#ccc;

    text-decoration:none;

    margin-bottom:20px;
}

.back-btn:hover{
    color:#fff;
}

/* Ô nhập liệu */

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;

    margin-bottom:8px;

    color:#ddd;
}

.input-group input{
    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#222;

    color:#fff;

    outline:none;
}

.input-group input:focus{
    border:1px solid #e50914;
}

/* Nút bấm */

button{
    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:#e50914;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;
}

button:hover{
    background:#ff1824;
}

/* Liên kết */

.link{
    margin-top:20px;

    text-align:center;

    color:#bbb;
}

.link a{
    color:#e50914;

    text-decoration:none;

    font-weight:bold;
}

.link a:hover{
    color:#ff1824;
}

/* Màn hình nhỏ */

@media(max-width:500px){

    .container{
        width:90%;
        padding:30px;
    }

}

/* Chưa có tài khoản */
.register-link{
    margin-top:20px;
    text-align:center;
    color:#ccc;
    font-size:15px;
}

.register-link a{
    color:#e50914;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

.register-link a:hover{
    color:#ff3b3b;
    text-decoration:underline;
}
